td, th {
    white-space: nowrap;
    overflow: hidden;
}

th {
    background-color: rgb(34, 73, 67);
    color: white;
}

#header {
    display: flex;
    justify-content: left;
    position: relative;
    padding-bottom: 10px;
}

h5 {
    text-align: left;
    font-size: 25px;
  }

#calendar {
    position: absolute;
    right: 0;
  }

  #date {
      font-size:18px;
  }